h1 {
	color: #FFC125;
	background-color: #9C9C9C;
} 
.plavo {
	color: #4D4DFF;
	background-color: #00CD66;
}

h2{
	color: #483D8B;
	background-color: #FF8C00;
}

.sivo {
	color: #00CD66;
	background-color: #4D4DFF;
}

a{
	color: #;
	background-color: #FF8C00;
}
ol{
	color: #;
	background-color: #D98719;
}