h1 {
	color: #FFFFFF;
	background-color: #1E90FF;
} 
.plavo {
	color: #FFFF00;
	background-color: #FF0000;
}

h2{
	color: #00BFFF;
	background-color: #999999;
}

ul {
	color: #CD0000;
	background-color: #FFFF00;
}

a{
	color: B87333;
	background-color: #FFFF00;
}

.sivo {
	color: #FF0000;
	background-color: #FFFF00;
}
